[Desktop Entry]
Name=GZDoom
Exec=gzdoom
Icon=${SNAP}/meta/gui/gzdoom.png
Comment=The GZDoom Source Port
Keywords=doom;gzdoom
Type=Application
Categories=Game;
StartupNotify=true
